@font-face {
  font-family: 'magic';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/Cafe24Supermagic-Bold-v1.0.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}



@font-face {
  font-family: 'suite';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}


@font-face {
  font-family: 'dang';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.2/Cafe24Dangdanghae.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}



.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.d-flex{
  display: flex;
}

.justify-content-center{
  justify-content: center;
}

.flex-column{
  flex-direction: column;
}

.align-items-center{
  align-items: center;
}

#box{
  background-color: rgb(155, 207, 255);
}



.faq{
  list-style-type: none;
  padding: 30px;
  border: 1px ;
  background-color: white;
  border-radius: 20px;
}

.faq li::marker {
  content: none; /* 목록 숫자를 보이도록 설정 */
  color: #ffffff; /* 숫자의 색상 설정 */
  text-align: center;
}

.faq li{
  display: flex;
  align-items: center;
  margin: 20px;
  position: relative;
  counter-increment: my-counter;
  margin-bottom: 40px;
  border-bottom: 1px solid rgb(192, 192, 192);
  padding-bottom: 10px;
}

.faq li::before {
  content: counter(my-counter); /* 빈 문자열로 content를 설정 */
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-family: 'suite', serif;
  font-weight: bold;
  color: white;
  background-image: url('asset/icon.svg'); /* 원하는 배경 이미지 경로 설정 */
  background-size: contain; /* 배경 이미지를 요소 크기에 맞게 조절 */
  background-repeat: no-repeat;
  padding-left: 13px;
  transition: 0.3s;
  
}

.faq h3{
  font-family: 'magic', serif;
  margin-left: 5px;
}

ol.faq {
  list-style-type: none;
  padding-left: 30px;
}

.answer{
  font-family: 'suite', serif;
  padding-left: 10px;
  margin-bottom: 15px;
  transition: 0.3s;
}

#title{
  font-family: 'dang', serif;
  font-size: 30pt;
  margin-top: 60px;
}